In [3]:
a=input("enter any numbar:")
b=input("enter any number:")
c=a+b
print(c)

enter any numbar: 10
enter any number: 10

1010

In [4]:
# typecasting
a=int(input("enter any number"))
b=int(input("enter any number"))
c=a+b
print(c)

enter any number 50
enter any number 20

70

In [2]:
#control flow statement
#conditional statement
#if 
num=200
if num%2==0:
    print(num,"is an even number")

200 is an even number

In [5]:
# if else 
num=int(input("enter any number:"))
if num%2==0:
    print(num,"is an even number")
else:
    print(num,"is an odd number")

enter any number: 18

18 is an even number

In [25]:
num=int(input("enter any number:"))
if num%3==0:
    print(num,"is divisible by 3")
else:
    print(num,"is not divisible by 3")

enter any number: 8

8 is not divisible by 3

In [21]:
age=int(input("enter the age"))
if age>=1:
    if age>=18:
     print("eligible to vote")
    else:
     print("not eligible to vote")
else:
 print("invalid age lnput")

enter the age 15

not eligible to vote

In [1]:
num=int(input("enter any number"))
if ((num%100)%3)==0:
        print(num,"last digit divisible by 3")
else:print (num,"last digit not divisible by 3")

enter any number 998

998 last digit not divisible by 3

In [ ]:
sci=int(input("enter marks: "))
lang=int(input("enter marks: "))
maths=int(input("enter marks: "))
obtained_marks=sci+lang+maths
print(obtained_marks)
per=(obtained_marks/300)*100
print("percatage:",per,"%")
if per>=65:
    print("1st division")
elif per>=50:
    print("2nd division")
elif per>=33:
    print("3rd division")
else:
    print(fail)

In [3]:
a=int(input("enter number"))
if a>0:
    if a%2==0:
        print("positive even number")
    else:
        print("positive odd number")
elif a==0:
    print("negative number")
else:
    print("zero number")

enter number 0

negative number

In [1]:
a=int(input("side 1"))
b=int(input("side 2"))
c=int(input("side 3"))
if a+b>c and b+c>a and a+c>b:
    if a==b==c:
        print("equilateral")
    elif a==b and b==c and c==a:
        print("isosceles")
    else:
        print("scalence")
else:
    print("not triangle")

side 1 100
side 2 1
side 3 1

not triangle

In [14]:
ab=int(input("enter account balance"))
wa=int(input("enter withdraw amount"))
fb=ab-wa
if ab>=wa:
    print(fb,"avilable_balance")
else:
    print(fb,"insuffient balance")

enter account balance 100
enter withdraw amount 200

-100 insuffient balance

In [31]:
year=int(input("enter any year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"century leap year")
        else:
            print(year,"century not leap year")
    else:
        print(year,"leap year")
else:
    print(year,"not leap year")

enter any year 2014

2014 not leap year

In [44]:
year=int(input("enter any year"))
if (year%4==0 and year%100!=0) or year%400==0:
    print(year,"leap year")
else:
    print(year,"not a leap year")

enter any year 2012

2012 leap year